<style src="styles/components/CustomMenu.styl" lang="stylus" scoped></style>

<script>
import MainButton from "app/components/specific/MainButton.vue"
import isMobile from "ismobilejs"
export default{
    name: "CustomMenu",
    data() {
        return {
            burgerMenu: false,
            menuHover: undefined,
            allowScroll: true,
        };
    },
    props: {},
    components: {
        MainButton,
    },
    methods: {
        animate: function() {
            if (this.$store.getters.menuOpened) {
                this.menuHover.play();
                console.log("intento animar")
            } else {
                this.menuHover.reverse(0.5);
            }
        }
    },
    computed: {
        menuOpened() {
            return this.$store.getters.menuOpened
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.menuHover = new TimelineMax({delay: 0, paused: true});
            this.menuHover.fromTo(this.$refs.menuCurtain, 0.6, {scaleX: 0}, {scaleX: 1, ease: Power3.ease})
            this.menuHover.fromTo(this.$refs.menuHeader, 0.1, {opacity: 0}, {opacity: 1}, 0);
            this.menuHover.fromTo(this.$refs.menuContent, 0.3, {opacity: 0, marginTop: "200px"}, {opacity: 1, marginTop: "0", ease: Power1.easeIn})
        });
    },
    watch: {
        menuOpened() {
            this.animate();
        }
    }
};
</script>

<template>
    <div class="Menu" :class="{menu_pointer: this.$store.getters.menuOpened}">
        <div class="Menu--curtain" ref="menuCurtain"></div>
        <div class="Menu--container">
            <div class="Menu--header" ref="menuHeader"></div>
            <div class="Menu--content" ref="menuContent">
                <div ref="item1">
                    <router-link to="/home"><h3>Cotiza en línea</h3></router-link>
                </div>
                <div ref="item2">
                    <router-link to="/test"><h3>¿Cómo funciona?</h3></router-link>
                </div>
                <div ref="item3">
                    <router-link to="/test"><h3>Planes</h3></router-link>
                </div>
                <div ref="item4">
                    <router-link to="/test"><h3>Contacto</h3></router-link>
                </div>
                <div ref="item5">
                    <main-button buttonText="Ingresa" noIcon></main-button>
                </div>
            </div>
        </div>
    </div>
</template>
