<style src="styles/components/ServiceDeliveredCard.styl" lang="stylus" scoped></style>

<script>
    import MainButton from "app/components/specific/MainButton.vue"
    import isMobile from "ismobilejs";
    export default{
        name: "ServiceDeliveredCard",
        data(){
            return {
                responses: Array,
                recentsCard: undefined,
                courierPhotoSrc: "../src/assets/img/client.jpeg",
                showOnlyRecents: this.onlyRecents,
            };
        },
        props: {
            onlyRecents: {
                type: Boolean,
                required: true,
            }
        },
        components: { MainButton },
        methods: {
            moreInfo: function(index) {
                if (this.$refs.card_content[index].classList.contains('opened')){
                    this.$refs.card_content[index].classList.remove("opened");
                    this.$refs.moreInfoArrow[index].classList.remove("rotated");
                    this.$refs.showInfoAction[index].innerHTML = "Más detalles";
                } else {
                    this.$refs.card_content[index].classList.add("opened");
                    this.$refs.moreInfoArrow[index].classList.add("rotated");
                    this.$refs.showInfoAction[index].innerHTML = "Ocultar detalles";
                }
            },
        },
        computed: {},
        mounted() {
            this.$nextTick(() => {
                fetch('http://www.json-generator.com/api/json/get/cpzqRdjglK?indent=2').then(responses => {
                return responses.json();
                }).then(data => {
                    this.responses = data;
                    // Work with JSON data here
                }).catch(err => {
                // Do something for an error here
                });
            });
        }
    };
</script>

<template>
    <div class="ServiceDeliveredCard">
        <section class="Service__recent">
            <div v-if="!showOnlyRecents" class="Service__recent-infocard" v-for="(response, index) of responses.all" :index="index" :key="response._id" :data="response">
                <div class="Service__recent-infocard-header">
                    <p>Entrega de tenis New Balance</p>
                    <p class="Paragragh-grey">Lunes, Noviembre 02</p>
                    <p>Valor: {{response.price}}</p>
                    <div class="accordion__action" @click="moreInfo(index)">
                        <p class="Paragraph-red Center" ref="showInfoAction">Más detalles
                        </p>
                        <span ref="moreInfoArrow" class="more_info--arrow"></span>
                    </div>
                    <main-button
                        buttonText = "Volver a solicitar"
                        red
                        small
                        noIcon
                    ></main-button>
                </div>
                <div class="Service__recent-infocard-content" ref="card_content">
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>Fecha de solicitud:</strong> {{response.fecha}}</p>
                        <p class="Paragraph-small Light-text"><strong>Hora de solicitud:</strong> {{response.hora}}</p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>Punto de recogida:</strong> {{response.recogida}} </p>
                        <p class="Paragraph-small Light-text"><strong>Punto de entrega:</strong> {{response.entrega}} </p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>Contacto:</strong> {{response.contacto}} </p>
                        <p class="Paragraph-small Light-text"><strong>Teléfono:</strong> {{response.telefono}} </p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>Mensajero encargado: </strong></p>
                        <div style="width: 70%; display: inline-flex; align-items: center; justify-content: flex-start;">
                            <div class="courier-photo" :style="{backgroundImage: 'url(' + courierPhotoSrc + ')'}" style="margin-right: 10px;"></div>
                            <div class="courier-rate">
                                <p class="Paragraph-small Paragraph-grey Font-light">{{response.mensajero}} </p>
                                <div class="courier-rate-direction">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>Estado: </strong></p>
                        <p class="Paragraph-small" style="color: green">Finalizado con éxito</p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>ID Orden: </strong>{{response.idOrden}}</p>
                    </div>
                </div>
            </div>
            <div v-if="showOnlyRecents" class="Service__recent-infocard" v-for="(response, index) of responses.recents" :index="index" :key="response._id" :data="response">
                <div class="Service__recent-infocard-header">
                    <p>Entrega de tenis New Balance</p>
                    <p class="Paragragh-grey">Lunes, Noviembre 02</p>
                    <p>Valor: {{response.price}}</p>
                    <div class="accordion__action" @click="moreInfo(index)">
                        <p class="Paragraph-red Center" ref="showInfoAction">Más detalles
                        </p>
                        <span ref="moreInfoArrow" class="more_info--arrow"></span>
                    </div>
                    <main-button
                        buttonText = "Volver a solicitar"
                        red
                        small
                        noIcon
                    ></main-button>
                </div>
                <div class="Service__recent-infocard-content" ref="card_content">
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Fecha de solicitud:</strong> {{response.fecha}}</p>
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Hora de solicitud:</strong> {{response.hora}}</p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Punto de recogida:</strong> {{response.recogida}} </p>
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Punto de entrega:</strong> {{response.entrega}} </p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Contacto:</strong> {{response.contacto}} </p>
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Teléfono:</strong> {{response.telefono}} </p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">Mensajero encargado: </strong></p>
                        <div style="width: 70%; display: inline-flex; align-items: center; justify-content: flex-start;">
                            <div class="courier-photo" :style="{backgroundImage: 'url(' + courierPhotoSrc + ')'}" style="margin-right: 10px;"></div>
                            <div class="courier-rate">
                                <p class="Paragraph-small Paragraph-grey Font-light">{{response.mensajero}} </p>
                                <div class="courier-rate-direction">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Light-text"><strong>Estado: </strong></p>
                        <p class="Paragraph-small" style="color: green">Finalizado con éxito</p>
                    </div>
                    <div class="delivery-info--item">
                        <p class="Paragraph-small Paragraph-grey Font-light"><strong class="Light-text">ID Orden: </strong>{{response.idOrden}}</p>
                    </div>
                </div>
            </div>
        </section>  
    </div>
</template>


