// Logged

@import "~styles/vars";

.Dashboard
    position relative
    display flex
    flex-wrap wrap
    width 100%
    background #FFF
    color #000
    justify-content center
    align-items center

.Tab-container
    display flex
    justify-content center
    width 100vw
    background white
    .Tab-content
        width 80%
        min-height 600px
        +below(800px)
            width 90%

.Dashboard__main-header     
    display flex
    justify-content space-between
    align-items center
    width 100%
    +below(500px)
        flex-wrap wrap
        height 150px
        .profile--state
            width 100%
        h4
            text-align left
            width 40%
