// Home

@import "~styles/vars";

.Home
    display block
    width 100%
    height auto

input
    width 100%
    height 44px
    margin 10px 0
    background-color white
    color $grey
    padding 0 10px
    border-radius 2px
    border 1px solid $grey
    +mobile()
        color $white
        lost-column 1 / 1

.player-container
    max-width 600px
    aspect-ratio(16, 9)

.Header-phone_number
    display flex
    position relative
    justify-content center
    align-items center
    width 100vw
    height 44px
    background $subred
    z-index 2
    text-align center

.Home-banner_container
    position relative
    lost-center 90%

.Home-banner_rotated
    position absolute
    width 120vw
    height 280vh
    background red
    transform rotate(-45deg)
    transform-origin -50% 22%
    border-radius 500px
    margin-left -5%
    +below(1290px)
        transform-origin -90% 0%
    +below(600px)
        width 1000px
        height 1000px
        top 0
        transform-origin 6% 75%

.Home-banner_content
    position relative
    top 15%
    left 50%
    transform translate(-50%, 0%)
    width 100%
    z-index 2

.Home-banner_content_description
    lost-center 80%

.Home-banner_content_delivery-card
    display flex
    flex-direction column
    justify-content space-around
    align-content center
    align-items center
    lost-center 100%
    height 440px
    margin 50px 0
    padding 0 72px
    background white
    border-radius 10px
    +below(800px)
        padding 72px 25px
        height unset
    .delivery-card_title
        width 100%
        +below(800px)
            margin-bottom 25px
    .delivery-card_note
        position absolute
        top 100%
        text-align right
        +below(800px)
            position relative
            text-align center
    .delivery-card_second_row
        display flex
        position relative
        width 100%
        justify-content space-around
        +below(800px)
            flex-direction column
        .delivery-card_second_row-column
            display flex
            flex 1
            flex-direction column
            &:first-child
                margin-right 10px
                +below(500px)
                    margin-right 0
    .delivery-card_summary
        display flex
        justify-content space-between
        align-items center
        width 100%
        +below(800px)
            flex-direction column
        .delivery-card_summary-total
            display flex
            justify-content flex-start
            align-items center
            flex 3
            p
                +above(801px)
                    margin-right 15px
            +below(800px)
                flex-direction column
                text-align center
                margin-bottom 15px

.Home-banner_steps
    display flex
    position relative
    justify-content space-between
    width 100%
    margin-top 120px  
    +below(800px)      
        flex-direction column-reverse
        align-items center       
    .delivery-person_image
        width 50% 
        background-size contain
        background-repeat no-repeat
        background-position center
        +below(800px)
            height 538px
            background-position center bottom
        +below(600px)
            height 280px
    .delivery-steps
        display flex
        flex-direction column
        justify-content space-between
        width 50%
        +below(800px)
            width 80%
        +below(600px)
            width 90%
        .delivery-steps_row
            display flex
            justify-content space-between
            margin 30px 0
            .delivery-steps_row-description
                display flex
                flex 1
                flex-direction column
                justify-content center

.Home-plans_services
    display flex
    position relative
    justify-content center
    align-items center
    width 100vw
    padding 120px 0 100px 0
    background $red
    +below(800px)
        padding 72px 0
    .Home-plans_services-container
        display flex
        flex-direction column
        justify-content space-evenly
        width 90%
        height 100%

.plans_services-description
    margin-bottom 50px
    h2
        margin-bottom 20px

.plan-card_container
    display flex
    justify-content space-around
    flex-wrap wrap
    width 100%

.plan-card
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    lost-column 3/12 0 13px
    border-radius 30px
    border 1px solid white
    padding 15px 15px
    max-width 278px
    min-width 278px
    +below(1280px)
        lost-column 6/12 0 13px
    .plan-card_details
        margin 5px 0






