// Home

@import "~styles/vars";

.Home
    display block
    width 100%
    height auto

.player-container
    max-width 600px
    aspect-ratio(16, 9)

.Header-phone_number
    display flex
    position relative
    justify-content center
    align-items center
    width 100vw
    height 44px
    background $subred
    z-index 2
    text-align center

.Home-banner_container
    position relative
    lost-center 80%

.Home-banner_rotated
    position absolute
    width 120vw
    height 1998px
    background red
    transform rotate(-45deg)
    transform-origin -50% 22%
    border-radius 500px
    margin-left -5%
    +below(1290px)
        height 1580px
        transform-origin -90% 0%
    +below(900px)
        transform-origin -100% 0%
    +below(800px)
        height 1415px
        width 1415px
        transform-origin -1600px 210px
    +below(600px)
        width 1000px
        height 1000px
        top 0
        transform-origin 6% 75%

.Home-banner_content
    position relative
    top 15%
    left 50%
    transform translate(-50%, 0%)
    width 100%
    z-index 2

.Home-banner_content_description
    lost-center 80%

.Home-banner_content_delivery-card
    display flex
    flex-direction column
    justify-content space-around
    align-content center
    align-items center
    lost-center 100%
    height 440px
    margin 50px 0
    padding 0 72px
    background white
    border-radius 10px
    +below(800px)
        padding 72px 25px
        height unset
    .delivery-card_title
        width 100%
        +below(800px)
            margin-bottom 25px
    .delivery-card_note
        position absolute
        top 100%
        text-align right
        +below(800px)
            position relative
            text-align center
    .delivery-card_second_row
        display flex
        position relative
        width 100%
        justify-content space-around
        +below(800px)
            flex-direction column
        .delivery-card_second_row-column
            display flex
            flex 1
            flex-direction column
            &:first-child
                margin-right 10px
                +below(500px)
                    margin-right 0
    .delivery-card_summary
        display flex
        justify-content space-between
        align-items center
        width 100%
        +below(800px)
            flex-direction column
        .delivery-card_summary-total
            display flex
            justify-content flex-start
            align-items center
            flex 3
            p
                +above(801px)
                    margin-right 15px
            +below(800px)
                flex-direction column
                text-align center
                margin-bottom 15px

.Home-banner_steps
    display flex
    position relative
    justify-content space-between
    width 100%
    margin-top 120px  
    +below(800px)      
        flex-direction column-reverse
        align-items center       
    .delivery-person_image
        width 80% 
        background-size contain
        background-repeat no-repeat
        background-position center left
        +below(800px)
            height 538px
            background-position center bottom
        +below(600px)
            height 280px
    .delivery-steps
        display flex
        flex-direction column
        justify-content space-between
        padding 100px 0
        +below(800px)
            padding 0
            width 80%
        +below(600px)
            width 90%
        .delivery-steps_row
            display flex
            justify-content space-between
            margin 30px 0
            .delivery-steps_row-description
                display flex
                flex 1
                flex-direction column
                justify-content center

.Home-plans_services
    display flex
    position relative
    justify-content center
    align-items center
    width 100vw
    padding 120px 0 100px 0
    background $red
    +below(800px)
        padding 72px 0
    .Home-plans_services-container
        display flex
        flex-direction column
        justify-content space-evenly
        width 90%
        height 100%

.plans_services-description
    margin-bottom 50px
    h2
        margin-bottom 20px

.plan-card_container
    display flex
    justify-content space-around
    flex-wrap wrap
    width 100%

.plan-card
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    lost-waffle 3/12 0 13px
    border-radius 30px
    border 1px solid white
    padding 15px 15px
    max-width 278px
    min-width 278px
    min-height 270px
    +below(1280px)
        lost-waffle 6/12 0 13px
    .plan-card_details
        margin 5px 0
    
.Home-sliding_steps
    display flex
    justify-content center
    align-items center
    min-height 100vh
    width 100vw
    padding 120px 0
    background $subBackground
    +below(600px)
        text-align center
    .Home-sliding_steps--container
        width 80%
    
.Home-clients
    display flex
    justify-content center
    align-items center
    width 100vw
    min-height 80vh
    background $background
    padding 120px 0
    .Home-clients--container
        width 100%
        .swiper-slide
            +below(800px)
                display flex
                justify-content center

.Home-form
    display flex
    justify-content center
    width 100vw
    min-height 100vh
    background $red
    padding 120px 0
    .MainButton
        margin-top 35px
    .Home-form--container
        display flex
        flex-direction column
        justify-content space-around
        width 80%
        +below(800px)
            width 65%
    .Home-form--content
        display flex
        justify-content space-around
        width 100%
        +below(800px)
            flex-direction column
            justify-content space-around
            align-content center
            align-items center
        .box-image
            width 506px
            height 328px
            border 1px dashed white
        .CustomForm
            display flex
            flex-direction column
            justify-content center
            align-content flex-end
            align-items center
            width 40%
            +below(800px)
                width 100%

.Home-sponsors
    width 100vw
    height 261px
    background $background
    .Home-sponsors--container
        display flex
        flex-wrap wrap
        lost-center 100%
        height 100%
        justify-content space-around
        align-items center

             
                








