// ShippingRequest

@import "~styles/vars"

.ShippingRequest
    position relative
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    width 100vw
    color #000
    background white

.ShippingRequest-summary__container
    width 80%
    display inline-flex
    justify-content flex-start
    align-content space-around
    flex-direction column
    padding 40px 0
    h4
        text-align left
        margin-bottom 30px

.ShippingRequest__container
    width 80%
    display inline-flex
    justify-content flex-start
    align-content space-around
    flex-direction column
    margin-top 40px
    h4
        text-align left
        margin-bottom 30px
    .ShippingRequest_request-form
        width 50%
        .request-form__title
            display inline-flex
            align-items center

.ShippingRequest__resumeContainer
    display inline-flex
    flex-direction row
    justify-content space-between
    width 100%
    +below(800px)
        flex-direction column
        min-height 150px
.ShippingRequest__resumeContent
    flex-direction column
.ShippingRequest__finalResume
    display inline-flex
    flex-direction row
    justify-content space-between
    width 100%
    margin-top 40px
    +below(800px)
        justify-content space-around
        flex-wrap wrap
        flex-direction column-reverse
        align-items center
        min-height 130px

.ShippingRequest_paymentMethod
    display flex
    flex-direction column

.ShippingRequest__paymentMethod__options 
    display inline-flex
    flex-direction row
    justify-content space-between
    align-items center
    align-content center
    width 50%
    +below(800px)
        flex-wrap wrap
        width 100%

.paymentMethod
  display flex
  position relative
  align-items center
  padding-left 35px
  margin-bottom 12px
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.paymentMethod input 
  position absolute
  opacity 0
  cursor pointer


/* Create a custom radio button */
.checkmark 
  position absolute
  top 25%
  left 0
  height 16px
  width 16px
  background-color none 
  border-radius 50%
  border 1px solid $grey


/* On mouse-over, add a grey background color */
.paymentMethod:hover input ~ .checkmark 
  border: 1px solid $red


/* When the radio button is checked, add a blue background */
.paymentMethod input:checked ~ .checkmark 
  border 1px solid $red


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after 
  content ""
  position absolute
  display none


/* Show the indicator (dot/circle) when checked */
.paymentMethod input:checked ~ .checkmark:after 
  display block


/* Style the indicator (dot/circle) */
.paymentMethod .checkmark:after 
    transform translate(-50%, -50%)
 	top 50%
	left 50%;
	width 8px;
	height 8px;
	border-radius 50%;
	background $red;


.ShippingRequest__payment-action
    display inline-flex
    .CustomForm
        +below(800px)
            display inline-flex
            flex-direction column
            align-items center
            justify-content space-around
.ShippingRequest__form-container
    width 80%
    display inline-flex
    justify-content flex-start
    align-content space-around
    flex-direction row
    margin-top 40px
    +below(800px)
        flex-direction column-reverse
        align-items center
    +below(600px)
      width 100% 
      margin-top 0
.ShippingRequest_request-form
    display inline-flex
    align-items flex-start
    flex-direction column
    width 60%
    padding-right 20px
    +below(800px)
        width 90%
        padding-right 0
.request-form__title
    display inline-flex
    flex-direction row
    align-items center
    width 100%
    margin-bottom 20px
.ShippingRequest__pickup_title
    display inline-flex
    flex-direction row
    margin-top 20px
.ShippingRequest__delivery_title
    display inline-flex
    flex-direction row
.ShippingRequest_map
    width 40%
    height 585px
    background-color: $grey
    +below(800px)
        width 100%
        height 350px
        margin-bottom 30px
.ShippingRequest__pickup_point
    width 100%
    form
        display inline-flex
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        width 100%
        +below(600px)
            flex-direction column
        input
            width 49%
            +below(600px)
                width 100% 
                color $grey
.ShippingRequest__delivery_point
    width 100%
    form
        display inline-flex
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        width 100%
        +below(600px)
            flex-direction column
        input
            width 49%
            +below(600px)
                width 100% 
                color $grey
.addDeliveryPoint
    display inline-flex
    width 100%
    margin-top 15px
    justify-content center
.returnToDeliveryPoint
    width 100%
    display inline-flex
    flex-direction row
    align-items flex-start
    margin-bottom 60px
    p
        width 80%
        margin-left 15px
        margin-top 0
        +below(600px)        
            width 100% 
/* Hide the browser's default checkbox */
.returnToDeliveryPoint input 
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0


/* Create a custom checkbox */
.check 
  position relative
  height 20px 
  width 20px
  background-color #fff
  border 1px solid $grey
  border-radius 3px


/* On mouse-over, add a red border*/
.returnToDeliveryPoint:hover input ~ .check 
  border 1px solid $red


/* When the checkbox is checked, add a red background */
.returnToDeliveryPoint input:checked ~ .check 
  background-color $red
  border none


/* Create the checkmark/indicator (hidden when not checked) */
.check:after 
  content ""
  position absolute
  display none


/* Show the checkmark when checked */
.returnToDeliveryPoint input:checked ~ .check:after 
  display block


/* Style the checkmark/indicator */
.returnToDeliveryPoint .check:after 
  left 37%
  top 20%
  width 5px
  height 10px
  border solid white
  border-width 0 2px 2px 0
  -webkit-transform rotate(45deg)
  -ms-transform rotate(45deg)
  transform rotate(45deg)

.ShippingRequest__footer
    position relative
    width 100%
    background-color $red
.ShippingRequest__footer_content
    position relative
    display inline-flex
    justify-content space-evenly
    align-items center
    width 100%
    margin 50px 0
    +below(800px)
        justify-content space-around
    +below(600px)
        flex-direction column
.total-value
    display inline-flex
    flex-direction column
    +below(600px)
        margin-bottom 30px
    p
        color white
    h3 
        color white

