// AppHeader

@import "~styles/vars";

.AppHeader
    display flex
    position relative
    justify-content space-between
    align-items center
    lost-center 90%
    height 70px
    background none
    z-index 2

h1
    margin 0

ul
    margin: 0
    padding: 0
    flex 2

li
    display: inline-block
    list-style-type: none
    margin: 0 5px
    &:first-of-type
        margin-left: 0

.main-logo 
    flex 1.5
    height 100%
    background-image url('../../assets/img/logo.png')
    background-size 130px
    background-position center left

span
    position absolute
    top 20%

.fade-enter-active, .fade-leave-active
    transition: opacity .5s

.fade-enter, .fade-leave-active
    opacity: 0




