// FooterComponent

@import "~styles/vars";

.FooterComponent
    display flex
    justify-content center
    width 100%
    min-height 570px
    background $subBackground
    .Separator-line
        margin-top 100px
        margin-bottom 50px

.Footer--container
    display flex
    flex-direction column
    justify-content space-around
    width 80%
    padding 120px 0
    +above(1281px)
        width 70%
    .Footer--row
        display flex
        justify-content space-between
        width 100%
        form
            display inline-flex
            flex-wrap wrap
            justify-content space-between
            align-items center
            width 60%
            +below(800px)
                justify-content center
                width 100%
            input
                +above(800px)
                    width 60%
                &::placeholder
                    color $grey
        +below(800px)
            flex-direction column
            justify-content center
            align-items center
            text-align center
            div
                margin 15px 0
        &:nth-child(2)
            margin 15px 0 80px 0
            +below(800px)
                margin 15px 0 20px 0
        +above(1281px) 
            justify-content space-around
        .Footer--logo
            width 167px
            height 48px
            background-size contain
            background-repeat no-repeat
            background-position center        
        .CustomForm
            width 60%
            .MainButton
                display inline-flex
            +below(800px)
                width 90%
        .Footer--row--column
            display flex
            flex-direction column
            justify-content space-around
            +below(800px)
                margin-top 15px
            p
                &:first-child
                    margin-bottom 15px
                &:not(:nth-child(1))
                    margin 5px 0
        .Footer--social
            display flex
            min-width 18%
            justify-content space-around
            align-items center
            +below(800px)
                min-width 79%
            .Footer--social--icon
                width 50px
                height 50px
                border-radius 50px
                background white



