// MainButton

@import "~styles/vars";

.MainButton
    display flex
    position relative
    width 225px
    height 50px
    border-radius 100px
    justify-content center
    align-content center
    align-items center
    background $yellow
    transition all 0.3s ease
    p
        height none
        font-size 14px
    img 
        position absolute
        right 30px
        margin 0
    &.small
        width 160px
    &.smallButton
        width 160px
    &.largeButton
        width 330px !important
        left 50%
        transform translateX(-50%)
    &.inlineButton
        display inline-flex
    &.borderRed
        background none !important
        color $red !important
        border 2px solid $red !important
    &.borderBlack
        background none !important
        color black !important
        border 2px solid black !important
    &.disabled
        transition all 0.3s ease
        pointer-events none
        opacity 0.5
        border none !important
