// MainContainer

@import "~styles/vars";

.MainContainer
    display block
    position relative
    background none
    h5
        position absolute

.Content-container
    display block
    position relative
    lost-center 1080px

