// MainContainer

@import "~styles/vars";

.MainContainer
    display block
    position relative
    background none
    h5
        position absolute

.Content-container
    display block
    position relative
    lost-center 90%
    max-width 1182px
    +below(600px)
        lost-center 90%

