// MyAccount

@import "~styles/vars";

.MyAccount
    display flex
    justify-content center
    align-items center
    .MyAccount__plans
        display inline-flex
        justify-content space-between
        flex-wrap wrap
        width 100%
    .MyAccount__content
        display inline-flex
        width 100%
        flex-wrap wrap
        h4  
            margin-bottom 15px
            text-align left
        .MyAccount__information
            display inline-flex
            justify-content space-between
            flex-wrap wrap
            width 100%
            padding 40px 60px 40px 50px
            background #f9f9f9
            border-radius $border-radius
            +below(800px)
                .MyAccount__information-item
                    width 100% !important
                    margin 15px 0
            input
                background none
                border none
                padding 0
                margin 0
                height 25px
                &::placeholder
                    color $lightText
                &.enabled
                    border-bottom 1px solid $red
                    border-radius 0
                    transition all 0.5s ease
                    
.MyAccount__title
    display inline-flex
    justify-content space-between
    align-items center
    width 100%
    h4
        margin-bottom 0
    .edit-information
        display inline-flex
        justify-content space-between
        cursor pointer
        p
            margin-right 10px

.MyAccount__plans--module
    width 49%
    min-height 310px
    margin-top 25px
    +below(800px)
        width 100%
        min-height 350px
        button
            margin 10px 0
    .module__container
        display inline-flex
        flex-direction column
        justify-content space-around
        align-items center
        flex-wrap wrap
        width 100%
        height 100%
        padding 40px
        text-align center
        border-radius $border-radius
        background #f9f9f9
        p
        +below(800px)
            height unset
            p
                max-width 45%
                margin 15px 0
        h4
            text-align center
            margin-bottom 10px
        .my-plan__buttons
            display inline-flex
            justify-content space-around
            width 100%
            +below(800px)
                display block
                width unset
        .my-plan__used
            display inline-flex
            justify-content space-around
            flex-wrap wrap
            width 100%
            .my-plan__used--bar
                width 100%
                height 20px
                background $red
                border-radius 15px
                margin-top 10px
            .my-plan__used--text
                display inline-flex
                justify-content space-between
                width 100%
                p
                    max-width unset

.payment-card
    display inline-flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    width 100%
    .payment-card__card-name
        display inline-flex
        align-items center

