// ServiceHistory

@import "~styles/vars";

.ServiceHistory
    display flex
    justify-content center
    align-items center
    width 100%
    input 
        border none
    .Icon
        margin-right 10px
    .ServiceHistory--container
        display flex
        flex-wrap wrap
        width 100%
        padding 80px 0

.ServiceHistory--filter
    display inline-flex
    > div
        margin-left 10px
    +below(800px)
        justify-content center
        flex-wrap wrap
        > div
            margin-left unset
            margin-bottom 10px

.ServiceHistory__filter--date-input
.ServiceHistory__filter-input
    position relative
    display inline-flex
    justify-content space-evenly
    align-items center
    width 246px
    height 41px
    padding 0 10px
    border 1px solid #cccccc
    border-radius 5px
    input[type=date]::-webkit-inner-spin-button
        -webkit-appearance none
        display none
    input[type="date"]
        -webkit-appearance none
        background none
    input[type=text]::-webkit-inner-spin-button
        -webkit-appearance none
        display none
    input[type=text]
        -webkit-appearance none
        width 88%
        background none
    p
        position absolute
    .IconComponent
        margin-right 0 !important