// ServiceDeliveredCard

@import "~styles/vars";

.ServiceDeliveredCard
    display block

.Service__recent
    display flex
    flex-wrap wrap
    justify-content flex-start
    align-items center
    width 100%
    .more_info--arrow
        display inline-flex
        width 0 
        height 0
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-top 10px solid $red
        transition all 0.3s ease
        &.rotated
            transform rotateX(180deg)
    .Service__recent-header
        display flex
        align-items center
        width 100%
    .Service__recent-infocard
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items center
        width 100%
        margin 15px 0
        background white
        border-radius $border-radius
        box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.1)
        .Service__recent-infocard-header
            display flex
            justify-content space-between
            align-items center
            padding 20px 35px
            width 100%
            +below(1200px)
                padding 20px 20px
                p
                    max-width 18%
            +below(900px)
                p
                    max-width unset
                flex-direction column
                height 200px
                padding 20px 35px
            .accordion__action
                position relative
                display inline-flex 
                align-items center 
                justify-content space-around
                cursor pointer
                p
                    margin-right 5px
                .more_info--arrow
                    position relative
                    margin-top 4px
        .Service__all-infocard-content
        .Service__recent-infocard-content
            display flex
            flex-wrap wrap
            justify-content space-between
            width 100%
            max-height 0
            height auto
            padding 0 35px
            background #FCFCFC
            overflow hidden
            transition 0.3s all ease
            +below(900px)
                flex-wrap nowrap
                flex-direction column
                padding 0 45px
                .delivery-info--item
                    width 100% !important
            .delivery-info--item
                margin 15px 0
                margin-right 30px
                lost-column 4/12 0 0
            &.opened
                max-height 500px
                padding-top 50px
                padding-bottom 50px
                transition all 0.3 easeOut

.courier-photo
    width 40px
    height 40px
    background-repeat no-repeat
    background-size cover
    background-position center
    border-radius 100%

.courier-rate
    display inline-flex
    flex-direction column
    justify-content space-around
    align-items flex-start

.courier-rate-direction 
    unicode-bidi bidi-override
    direction rtl

.courier-rate-direction > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.courier-rate-direction > span:hover:before,
.courier-rate-direction > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: $yellow;
   border: none;
}

.courier-rate-direction > span:hover, .courier-rate-direction > span:hover ~ span {
    color: transparent;
}
    