<style src="styles/components/ServiceHistory.styl" lang="stylus" scoped></style>

<script>
import MainTransition from "app/transitions/GSAP";
import IconComponent from "../specific/IconComponent.vue"
import ServiceDeliveredCard from "../specific/ServiceDeliveredCard.vue"
import flatpickr from "flatpickr";
    export default{
        name: "ServiceHistory",
        data(){
            return {
                datePicked: false,
            };
        },
        props: {},
        components: { IconComponent, ServiceDeliveredCard, MainTransition },
        methods: {
        },
        computed: {},
        mounted() {
            this.$nextTick (() => {
                flatpickr("#date_picker", {
                    locale: null,
                    minDate: null,
                    maxDate: 'today',
                    mode: 'range',
                    altInput: true,
                    altFormat: 'M d, Y',
                    dateFormat: 'Y-m-d',
                    placeholder: "Holi"
                });
            })
        }
    };
</script>

<template>
    <main-transition>
        <div class="ServiceHistory">
            <div class="DashboardComponent--container">
                <div class="Dashboard__main-header">
                    <div class="Tab__content--title">
                        <icon-component
                            iconSrc = "../src/assets/img/icons/box.png"
                            small
                        ></icon-component>
                        <h4 class="Light-text">Historial de Servicios</h4>
                    </div>
                    <div class="ServiceHistory--filter">
                        <div class="ServiceHistory__filter--date-input">
                            <icon-component
                                iconSrc = "../src/assets/img/icons/calendar.png"
                                small
                            ></icon-component>
                            <div class=flatpickr>
                                <input id="date_picker" class="Form_light" type="text" placeholder="Busca por fecha" data-input> <!-- input is mandatory -->
                            </div>
                        </div>
                        <div class="ServiceHistory__filter-input">
                            <icon-component
                                iconSrc = "../src/assets/img/icons/search.png"
                                small
                            ></icon-component>
                            <input type="text" class="Form_light" style="" placeholder="Busca por concepto" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="Separator-line"></div>
                <service-delivered-card
                    :onlyRecents="false"
                ></service-delivered-card>
            </div>
        </div>
    </main-transition>
</template>
