@import '~styles/vars'

html
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

*, *:before, *:after
    box-sizing border-box
    padding 0
    margin 0
    font-family "Quicksand", sans-serif

html, body
    background-color $background
    color $white
    width 100%
    height 100%
    min-height 100%
    margin 0
    padding 0

#app
    width 100%
    height 100%
    min-height 100%
    overflow-x hidden

nav
    margin-right 20px

h1
    text-align center
    font-size 54px
    font-weight bolder
    +below(800px)
        font-size 38px

h2
    text-align center
    font-size 45px
    font-weight 700
    +below(800px)
        font-size 38px

h3
    text-align center
    font-size 25px
    font-weight 500

h4
    text-align center
    font-size 20px
    font-weight 500
    +below(500px)
        font-size 18px

p
    font-size 18px
    font-weight 500
    +below(800px)
        font-size 16px

a
    color white
    font-size 14px
    font-weight 500

img
    margin 0

ul
    list-style-type none


#main-loader
    display block
    size 100%
    position fixed
    background-color $primary
    text-align center
    color $white
    z-index 1001

input
    width 100%
    height 44px
    margin 10px 0
    background-color white
    color $grey
    padding 25px
    border-radius 5px
    border 1px solid $grey
    &:focus
        border 2px solid $grey
        outline-offset 0
        padding 2px solid
    +mobile()
        color $white
        lost-column 1 / 1

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: white;
}
input
    &::placeholder 
        color white
    &.Form_light
        &::placeholder
            color $grey

.flatpickr-input
    background none
    border none
    color grey
//FONTS
.Font-light
    font-weight 400

.Font-regular
    font-weight 500

.Font-bold
    font-weight 600

//MODIFIERS
.Title
    text-align center

.Center
    text-align center

.Inline-text
    display inline-block

.Paragraph-grey
    color $grey

.Paragraph-red
    color $red

.Paragraph-yellow
    color $yellow

.Paragraph-small
    font-size 14px

.Light-text
    color $lightText

.Inline-content
    display flex
    align-items center

.Separator-line
    content ''
    display block
    width 100%
    height 0.1rem
    margin 30px 0
    background #f1f1f1

//ICONS
.Icon-small
    display inline-block
    size 27px

//TABS
.Tab__content--title
    display inline-flex
    align-items center
    h4
        text-align left
    +below(800px)
        width 100%
        justify-content center

input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}

.DashboardComponent--container
    display flex
    flex-wrap wrap
    width 100%
    padding 80px 0
    .Dashboard__main-header
        display flex
        justify-content space-between
        align-items center
        width 100%
        min-height 50px
        max-height 50px
        .Tab__content--title
            margin-bottom 10px
        +below(500px)
            flex-wrap wrap
            max-height unset
            .profile--state
                width 100%
            h4
                text-align left