@import "~styles/core/grid"
@import '~styles/utils/mixins'
@import '~styles/utils/helpers'

//COLORS
$white = #fff
$red = #FF3D3D
$subred = #D0021B
$yellow = #F8E71C
$lightText = #313551
$black = #202020
$primary = #ef2052
$grey = #9B9B9B
$background = #F9F9F9

$header = $primary

//FONTS
$heading-font = "Monaco";
$text-font = "Monaco";
