<style src="styles/components/AppHeader.styl" lang="stylus" scoped></style>

<script>
    import CustomMenu from 'app/components/specific/CustomMenu.vue'

    import {
        mapActions
    } from "vuex";
    import {
        LOADING
    } from "app/store/modules/loader";
    import MainButton from "app/components/specific/MainButton.vue"

    export default {
        name: "AppHeader",
        data() {
            return {
                burgerMenu: true,
                addClass: false
            };
        },
        props: {},
        components: {
            MainButton,
            CustomMenu
        },
        methods: {
            ...mapActions({
                summonLoader: LOADING
            }),
            menuOpen: function() {
                this.$store.commit("MENU_OPEN");
            },
            loggin(e) {
                this.$router.push('login');
            },
            logout(){
                this.$store.dispatch('logout')
                .then(response => {
                    this.$router.push({name:'login'})
                })
            },
        },
        computed: {
            menuOpened() {
                return this.$store.getters.menuOpened;
            },
            route() {
                return this.$route.fullPath
            },
            userLogged() {
                const { $store } = this
                return $store.getters.userLogged;
            }
        },
        mounted() {
        },
        watch: {
            menuOpened() {
                this.addClass = !this.addClass;
            }
        }
    };
</script>

<template>
    <div class="AppHeader">
        <div class="AppHeader-home" v-if="route === '/'">
            <div class="menu-button" v-on:click="menuOpen()">
                <span class="burger-line" :class="{rotatePos: this.menuOpened}"></span>
                <span class="burger-line" :class="{removeMiddle: this.menuOpened}"></span>
                <span class="burger-line" :class="{rotateNeg: this.menuOpened}"></span>
            </div>
            <custom-menu></custom-menu>
            <div class="main-logo"></div>
            <!--<transition name="fade" mode="out-in">
                        <span :key="$route.path">{{$route.path}}</span>
                    </transition>
                    -->
            <nav>
            <ul>
                <li>
                    <router-link to="/home">Cotiza en línea</router-link>
                </li>
                <li>
                    <router-link to="/test">¿Cómo funciona?</router-link>
                </li>
                <li>
                    <router-link to="/test">Planes</router-link>
                </li>
                <li>
                    <router-link to="/test">Contacto</router-link>
                </li>
            </ul>
            </nav>
            <main-button v-show="!this.$store.getters.menuOpened" buttonText="Reserva tu pedido" border small noIcon style="margin-right: 10px;"></main-button>
            <main-button v-if="!this.$store.getters.menuOpened" @click.native="loggin" buttonText="Ingresa" extraSmall noIcon></main-button>
        </div>
        <div class="AppHeader-logged" v-if="route !== '/'">
            <div class="AppHeader-loggedContainer">
                <div class="menu-button" v-on:click="menuOpen()">
                    <span class="burger-line" :class="{rotatePos: this.menuOpened}"></span>
                    <span class="burger-line" :class="{removeMiddle: this.menuOpened}"></span>
                    <span class="burger-line" :class="{rotateNeg: this.menuOpened}"></span>
                </div>
                <custom-menu></custom-menu>
                <div class="main-logo"></div>
                <!--<transition name="fade" mode="out-in">
                            <span :key="$route.path">{{$route.path}}</span>
                        </transition>
                        -->
                <nav>
                </nav>
                <div class="AppHeader-logged-user">
                    <p>{{ userLogged.name }}</p>
                    <div class="AppHeader-logged-photo">
                    </div>

                    <button v-on:click="logout()">Logout</button>

                </div>
            </div>
            <div class="AppHeader-message">
                <p class="AppHeader-message-first">Solo te quedan 50 km disponibles de tu plan Medium</p>
                <p class="AppHeader-message-second">Renueva tu plan</p>
            </div>
        </div>
    </div>
    <!--<router-link to="/">{{$t("home.title")}}</router-link>
                        <router-link to="/test">{{$t("test.title")}}</router-link>
                        <router-link to="/404">404</router-link>-->
</template>
